Repository cryptelian/cybermythic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "src/**/*.scss": ["stylelint --fix"]
}

Add validation scripts and update README
  README.md
  package.json
  tools/validateI18n.mjs
  tools/validateSystemJson.mjs
Due: prettier --write

feat: Add ninja overlay script and validation
  package.json
  public/system.ninja.json
  tools/ninjaOverlay.mjs
  tools/validateSystemJson.mjs
Due: prettier --write

chore: Add .gitignore protection for copyrighted content
  .gitignore
Due: none

docs: Add repository structure rules for public/private split
  .cursor/rules/automation-ci.mdc
  .cursor/rules/branch-remote-guardrails.mdc
  .cursor/rules/content-boundaries.mdc
  .cursor/rules/flow-of-changes.mdc
  .cursor/rules/master-ninjarchy-branch.mdc
  .cursor/rules/prime-directive.mdc
  .cursor/rules/repo-topology.mdc
Due: none

docs: Add comprehensive repository structure documentation
  docs/REPOSITORY-STRUCTURE.md
Due: prettier --write

docs: Add Foundry VTT development rules and guidelines
  .cursor/rules/0-dev-loader.mdc
  .cursor/rules/anarchy-forward-foundry-first.mdc
  .cursor/rules/branch-remote-guardrails.mdc
  .cursor/rules/console-clarity.mdc
  .cursor/rules/content-boundaries.mdc
  .cursor/rules/dynamic-paths.mdc
  .cursor/rules/entry-mode-not-mixed.mdc
  .cursor/rules/explicit-modes-no-hybrids.mdc
  .cursor/rules/fast-fail.mdc
  .cursor/rules/flow-of-changes.mdc
  .cursor/rules/id-match.mdc
  .cursor/rules/master-ninjarchy-branch.mdc
  .cursor/rules/prime-directive.mdc
  .cursor/rules/proxy-calm-mode.mdc
  .cursor/rules/repo-topology.mdc
  .cursor/rules/robust-reg.mdc
  .cursor/rules/sr-like-sys.mdc
Due: none

chore: require Node 20 and add compendium normalizer docs/tool
  .nvmrc
  README.md
  dist-ninja/_packs_tmp_src/gm-info/journal_Anarchy_49skRdv4apvF2SK3.yml
  dist-ninja/_packs_tmp_src/macros/macros_Lancer_de_d_s_Anarchy_kC4u5DPvb06eO41n.yml
  dist-ninja/_packs_tmp_src/macros/macros_Mode_de_vision__fr__A35eKUS5l0TfECSN.yml
  dist-ninja/_packs_tmp_src/macros/macros_Vision_mode__en__WxOP2YFXTnCTDgPq.yml
  dist-ninja/_packs_tmp_src/manual-fr/journal_Manuel_d_utilisation_liXqFwkuhZKocsD6.yml
  docs/compendium-packaging.md
  package-lock.json
  package.json
  tools/compendium-normalizer.mjs
Due: prettier --write

Refactor CI and release workflows and README
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/BUILD-INSTRUCTIONS.md
  docs/FOUNDRY-BEST-PRACTICES.md
  docs/MIGRATION-SUMMARY.md
  package-lock.json
  package.json
  public/style/compiled.css
  public/style/compiled.css.map
  src/index.js
  stats.html
  tools/fix-hardcoded-paths.js
  tools/validate-build.js
  vite.config.ts
Due: prettier --write

Refactor: Improve system ID handling and README
  README.md
  docs/release-workflow.md
  docs/system-best-practices.md
  package.json
  public/index.mjs
  public/lang/fr.json
  public/style/compiled.css
  public/style/compiled.css.map
  public/templates/token/hud-shortcuts.hbs
  src/modules/app/gm-anarchy.js
  src/modules/app/gm-difficulty.js
  src/modules/app/gm-manager.js
  src/modules/constants.js
  src/modules/performance-optimizer.js
  src/modules/roll/dice-cursor.js
  src/modules/roll/roll-dialog.js
  src/modules/ui-customization-dialog.js
  src/modules/ui-customization.js
  src/start.js
  src/styles/main.scss
  stats.html
  vite.config.ts
Due: prettier --write, stylelint --fix

feat: Add comprehensive Cursor rulebook for Foundry VTT development
  .cursorrules
Due: none

feat: Add Foundry VTT development rules to repo-specific .cursor/rules
  .cursor/rules/foundry-vtt-system-dev.mdc
Due: none

fix: Remove incorrectly placed .cursorrules file
  .cursorrules
Due: none

harden Windows commit hooks and lint tooling
  .gitattributes
  .gitignore
  .husky/pre-commit
  .vscode/extensions/workspace-settings.json
  config/ci/.lintstagedrc.json
  package.json
  scripts/utilities/patch-husky-gitkraken.mjs
Due: prettier --write

streamline repo scaffolding and retire tracked build outputs
  .cursor/commands/acknowledge.md
  .cursor/plans/stream-14a80937.plan.md
  .cursor/rules/0-dev-loader.mdc
  .cursor/rules/automation-ci.mdc
  .cursor/rules/explicit-modes-no-hybrids.mdc
  .cursor/rules/fast-fail.mdc
  .cursor/rules/foundry-vtt-system-dev.mdc
  .cursor/rules/learning-mode.mdc
  .cursor/rules/master-ninjarchy-branch.mdc
  .cursor/rules/proxy-calm-mode.mdc
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
  config/environments/.nvmrc
  docs/development/migration-guide.md
  docs/development/ui-runtime-authority.md
  eslint.config.mjs
  package-Gaminitelian.json
  public/dist/index.mjs
  public/dist/index.mjs.map
  public/dist/style.css
  scripts/utilities/link-foundry.mjs
  scripts/validation/smoke.mjs
  scripts/validation/validateI18n.mjs
  scripts/validation/validateManifestAssets.mjs
  scripts/validation/validateStructure.mjs
  stats.html
  test-results/.last-run.json
  vite.config.ts
Due: prettier --write
